* {
    box-sizing: border-box;
}

body {
margin: 0;
font-size: 16px;
background: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 256px auto 56px;
    grid-template-rows: 64px auto;
    height: 100vh;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-bottom: 1px solid #e3e6e8;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    width: 256px;
    height: 64px;
}

.gmail-logo {
    width: 109px;
    height: 40px;
    margin-left: 16px;
}

.menu-icon {
    color: #5f6368;
    margin-left: 24px;
}

.top-right {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

}

.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 720px;
}
.searchbox {
    width: 100%;
    height: 46px;
    background: #efefef; /* #f1f3f4; */
    border: 0;
    border-radius: 8px;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 58px;
    color: #787878;
}

.searchbox:focus {
    background: #fff;
    border: 1px solid #efefef;
}

.search-icons {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 720px;
}
.icon-baslangic {
    position: absolute;
    left: -7px;
}
.icon-son {
    position: absolute;
    right: 16px;
}

.settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
}

.user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 18px;
    margin-left: 16px;
}
aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buton-buyuk {
    position: relative;
}

.menu-icon-arti {
    position: absolute;
    left: 20px;
    top: 24px;
    color: #757575;
    font-size: 36px;
}

.olustur {
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    color: #3c4043;
    width: 130px;
    height: 48px;
    border: 1px solid #e3e6e8;
    border-radius: 24px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 36px;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    padding-left: 2px;
    color: #202124;
}

.active {
    position: relative;
    width: 95%;
    font-weight: bold;
    background: #fce8e6;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #d93025;
}

.menu-item i {
    font-size: 20px;
    margin-right: 18px;
}

.right {
    position: absolute;
    right: 16px;
    justify-self: end;
    font-size: .75rem;
}

.alt-cizgi {
    height: 1px;
    background: #e8eaed;
    margin-top: 6px;
    margin-bottom: 16px;
}
.menu-kategori-baslik {
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: bold;
    padding-left: 2px;
    color: #202124;
    margin-left: 24px;
    margin-bottom: 12px;
}
.hangouts-user {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .875rem;
    position: relative;
}

.online {
    position: absolute;
    left: 40px;
    bottom: 2px;
    width: 10px;
    height: 10px;
    background: #35ac19;
    border-radius: 50%;
}

.menu-icon-kucuk {
    color: #a8a8a8;
    font-size: 20px;
    margin-left: 8px;
}

.menu-icon-orta {
    color: #757575;
    font-size: 18px;
    margin-left: 96px;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ust-alt-menu {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e6e8;
    height: 48px;
}

.sol-ikonlar {
    display: flex;
    align-items: center;
    width: 220px;
    padding-left: 6px;
}

.sag-ikonlar {
    display: flex;
    align-items: center;
    width: 220px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #5f6368;
}

.sag-ikonlar i {
    color: #a6a6a6;
}

.ust-alt-menu-icon {
    color: #5f6368;
    margin-left: 10px;
}

.ust-alt-menu-icon-kucuk {
    color: #5f6368;
    font-size: 20px;
    margin-right: 16px;
}

.mail-area {
    overflow-y: scroll;
    height: 90%;
}

.kategoriler {
    display: flex;
    height: 56px;
}

.kategori {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    color: #5f6368;
    background: #fff;
    border-bottom: 1px solid #e3e6e8;
    position: relative;
}

.kategori:hover {
    background: #f1f1f1;
}

.kategori .kirmizi {
    color: #d93025;
}

.kategori:first-child {
    color: #d93025;
}

.yeni-etiket {
    background: #188038;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    padding: 1px 4px;
    margin-left: 5px;
}

.yeni-metin {
    position: absolute;
    top: 36px;
    left: 56px;
    font-size: 12px;
    color: #9fa1a4;
}

.kirmizi-alt {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: 10px;
    background: #d93025;
    height: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.kat-icon {
    margin-right: 16px;
    margin-left: 16px;
}

.mail {
    display: flex;
    align-items: center;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    color: #202124;
    border: 1px solid transparent;
    border-bottom: 1px solid #e3e6e8;
}

.mail:hover {
    border: 1px solid #dadce0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.okunmamis {
    background: #fff;
}

.kimden {
    display: flex;
    align-items: center;
    width: 320px;
}

.ileti-icon {
    color: #cccdcd;
    font-size: 20px;
    margin-left: 10px;
}

.ileti-icon:first-child {
    margin-left: 16px;
}

.ileti-icon:last-child {
    margin-right: 10px;
}

.ileti {
    flex-grow: 1;
}

.ileti-baslik {
    color: #202124;
}

.kalin {
    font-weight: bold;
}

.ileti-onizleme {
    color: #5f6368;
}

.tarih {
    text-align: right;
    width: 80px;
    margin-right: 16px;
    font-size: .75rem;
}

.kategori-etiket {
    background: #ddd;
    color: #666;
    font-size: .75rem;
    border-radius: 3px;
    font-weight: normal;
    padding: 2px 3px;
    margin-right: 3px;
}

.alt {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #5f6368;
    margin-top: 40px;
}

.alt-sol {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 16px;
}

.yatay-kapsa {
    display: flex;
    align-items: center;
}

.alt-icon {
    font-size: 18px;
    color: #909297;
}

.alt-orta {
    flex-grow: 1;
    text-align: center;
}

.alt-sag {
    text-align: right;
    width: 200px;
    margin-right: 16px;
}

progress {
    width: 100%;
    height: 6px;
    background: #dadce0;
    color: #5f6368;
    margin: 7px 0;
    border: 0;
    border-radius: 8px;
}

/* Firefox */
progress::-moz-progress-bar {
    background: #5f6368;
    border-radius: 8px;
}

/* Chrome */
progress::-webkit-progress-value {
    background: #5f6368;
    border-radius: 8px;
}

.sag-menu {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sag-menu img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.alt-cizgi-50 {
    width: 50%;
    height: 1px;
    background: #e8eaed;
    margin-top: 20px;
    margin-bottom: 24px;
}

.dikey-ikonlar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.dikey-icon {
    color: #757575;
    font-size: 20px;
    margin-top: 10px;
}

.dikey-icon:last-child {
    margin-bottom: 40px;
}
