@use "variables" as *;

.sag-menu {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sag-menu img {
    width: 20px;
    height: 20px;
    margin: 20px 0 16px 0;
}

.alt-cizgi-50 {
    width: 50%;
    height: 1px;
    background: $renk6;
    margin: 20px 0 24px 0;
}

.dikey-ikonlar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.dikey-icon {
    color: $renk7;
    font-size: 20px;
    margin-top: 10px;
}

.dikey-icon:last-child {
    margin-bottom: 40px;
}
