// Fontlar
$font: 'Roboto', sans-serif;
// Renkler
$renk1: #e3e6e8;
$renk2: #5f6368;
$renk3: #efefef;
$renk4: #ffffff;
$renk5: #787878;
$renk6: #e8eaed;
$renk7: #757575;
$renk8: #a8a8a8;
$renk9: #f1f1f1;
$renk10: #d93025;
$renk11: #188038;
$renk12: #9fa1a4;
$renk13: #202124;
$renk14: #dadce0;
$renk15: rgba(0, 0, 0, 0.2);
$renk16: #cccdcd;
$renk17: #000000;
$renk18: #dddddd;
$renk19: #666666;
$renk20: #3c4043;
$renk21: #909297;
$renk22: #a6a6a6;
$renk23: #35ac19;
$renk24: #fce8e6;
$renk25: #f8cb4d;